*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: #444;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.conteneur{
    position: relative;
    width: 300px;
    height:300px;
    border-radius:50%;
    background-image: url(./img/horloge.jpg);
    background-size:cover;
}
 .resultat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom;
    border-radius:2px;
}
.hr{
    width:4px;
    height: 20%;
    background-color: darkred;
    transform: translateX(-50%, -100%)
}
.mn{
    width:4px;
    height: 30%;
    background-color: rgb(36, 119, 15);
}
.s{
    width:4px;
    height: 40%;
    background-color: rgb(0, 0, 0);
}
